<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>

  <body class="text-gray-600">
    <a href="/">
      <img
        class="block w-80 mx-auto mt-40 mb-20"
        src="{{ site.baseurl }}/assets/img/logo.svg"
      >
    </a>

    {{ content }}
  </body>
</html>
