<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>

  <body class="text-gray-600">
    <header class="my-20">
      <a href="/">
        <img
          class="block w-80 mx-auto"
          src="{{ site.baseurl }}/assets/img/logo.svg"
        >
      </a>
    </header>

    <main class="my-20">
      {{ content }}
    </main>

    <footer class="
      max-w-sm mx-auto my-20 border-t p-4 text-center
      text-gray-500 font-extralight text-sm
    ">
      Made by

      <a
        href="https://mzrn.sh"
        class="font-medium text-indigo-600 hover:text-indigo-500"
        target="_blank"
      >
        @mzrnsh
      </a>
    </footer>
  </body>
</html>
