---
layout: base
---
<div class="text-center">
  {{ content }}
</div>

<div class="max-w-xl mx-auto mt-32 rounded-md bg-yellow-50 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      👋
    </div>

    <div class="ml-3">
      <h3 class="text-sm font-medium text-yellow-800">
        Didn't find your thing?
      </h3>

      <div class="mt-2 text-sm text-yellow-700">
        <p>
          Right now UpToDate only tracks versions for a limited number of things.

          <br>

          <a
            class="underline font-bold"
            target="_blank"
            href="mailto:update-me@mzrn.sh?subject=Please%20track%20a%20new%20thing%20for%20me&body=Hey!%20I%20really%20like%20UpToDate.%20Could%20you%20please%20start%20tracking%20this%20new%20thing%3F%0D%0A%0D%0AName%3A%0D%0A_NAME_OF_YOUR_REQUESTED_THING_%0D%0A%0D%0AURL%3A%0D%0A_URL_OF_YOUR_REQUESTED_THING_"
          >Let me know</a>

          if you want it to track something new.
        </p>
      </div>
    </div>
  </div>
</div>
